npm-debug.log

node_modules/**

node_modules/*

!/node_modules/

!src/node_modules/

dist

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build

node_modules

.DS_Store
thumbs.db
*.log
node_modules/