<!-- <header id="top" class="global-header">
  <hgroup role="site-name">
    <a href="{{ site.url }}">{{site.name}}</a>
  </hgroup>
  <nav class="nav-collapse">
    <ul class="main-nav__list"
      <li><span id="gridtoggle">Toggle Grid</span></li>
      {% for nav_link in site.data.nav_links %}
      <li><a href="{% if nav_link.external %}{{ nav_link.url }}{% else %}{{ site.url }}{{ nav_link.url }}{% endif %}" {% if nav_link.external %} data-no-instant target="_blank"{% endif %}>{{ nav_link.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
 -->

<header id="top" role="main-header" am-Grid-Row="middle between">
  <div class="container">
    <hgroup am-grid-col><a href="{{ site.baseurl }}">{{ site.name }}</a></hgroup>
    <nav am-grid-col>
      <ul>
        {% for nav_link in site.data.nav_links %}
          <li><a href="{% if nav_link.external %}{{ nav_link.url }}{% else %}{{ site.baseurl }}{{ nav_link.url }}{% endif %}" {% if nav_link.external %} data-no-instant target="_blank"{% endif %}>{{ nav_link.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>