<section id="projects" am-Block="projects" am-text="typeset">
  <article>
    <h2>Currently Working On&#58;</h2>
    <!-- Project Loop -->
    <div am-block="project">
    {% for project in site.data.projects %}
      <h3 class="toggle-expand {{ project.class }}">{{ project.title }}</h3>
      <p am-text="excerpt" class="hidden-info">
        {{ project.info }}
        <br>
        <a am-z="top" href="{{ project.url }}">Link</a>
      </p>
    {% endfor %}
    </div>
    <!-- end project loop -->
  </article>
  <!-- filler haxx -->
  <span class="fillerati"></span>
  <span class="colorways"></span>
</section>