<section id="projects" am-Block="projects" class="typeset">
  <article>
    <h2 am-neat="11 shift:1">Currently Working On&#58;</h2>
    <!-- Project Loop -->
    <div am-neat="10 shift:1" am-block="project">
    {% for project in site.data.projects %}
      <h3 am-neat="12 clear" class="toggle-expand {{ project.class }}">{{ project.title }}</h3>
      <p am-neat="10 clear" am-text="excerpt" class="hidden-info">
        {{ project.info }}
        <br>
        <a am-z="top" href="{{ project.url }}">Link</a>
      </p>
    {% endfor %}
    </div>
    <!-- end project loop -->
  </article>
  <!-- filler haxx -->
  <span class="fillerati"></span>
  <span class="colorways"></span>
</section>