<section id="work" am-Block="work">
  <article>
    <ul am-list="unstyle">
    {% for post in site.posts limit:9 %}
      {% if post.categories contains 'work' or post.categories contains 'journal' %}
        <!-- featured image, generally work -->
        {% if post.image.feature %}
          <li class="work-bounce" am-block="work-grid">
            <span class="colorize" style="background:{% if post.accent_color %}{{ post.accent_color}}{% else %}#EFEFEF{% endif %};"></span>
            <span class="project" style="background-image: url({{ site.url }}/images/posts/{{ post.image.feature }});"></span>
            <a href="{{ site.url }}{{ post.url }}">
              <div class="typeset">
                <small am-Text="info mono">{{ post.tags | array_to_sentence_string }}</small>
                <hr am-Divider="6">
                <h1 {% if post.title-color %} style="color: {{ post.title-color }};"{% endif %}>{{ post.title }}</h1>
              </div>
            </a>
          </li>
        {% else %}
          <li class="work-bounce" am-block="work-grid" style="background:{% if post.accent_color %}{{ post.accent_color}}{% else %}#ffffff{% endif %};">
            <a am-link="blank" href="{{ site.url }}{{ post.url }}">
              <div class="typeset">
                <hr am-divider="6">
                <h1 {% if post.title-color %} style="color: {{ post.title-color }};"{% endif %}>{{ post.title }}</h1>
                {% if post.category %}<small am-Text="info mono">{{ post.category }} &#8212;{% endif %}  {{ post.date | date: "%m %d %y" }}</small>
                <p>
                  {{ post.excerpt | truncatewords:36 | remove: '<p>' | remove: '</p>' | strip_html }}
                </p>
              </div>
            </a>
<!--             <a am-position="absolute bottom right" am-link="target" href="{{ site.url }}{{ post.url }}">o</a>
 -->          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    </ul>
  </article>
</section>
