// Footer demo styles
// ---------------------------------------
footer {
  // sticky hax
  width: 100%;
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // aesthetics
  $footerBG: $real-black;
  padding: 2rem;
  background: $footerBG;

  // nexted styles
  [am-text] {
   @include fontsize(theta, all);
   line-height: 1rem;
   color: white;
  }
  p > a.blank-link {
    @include link-hover($white, $real-black, 20, underline);
  }
}