// Global styles
// ---------------------------------------
html {
  @include box-sizing(border-box);
  font-size: 100%;
  min-height: 100%;
  position: relative;
}

body {
  background-color: $backgroundColour;
  color: $bodyColour;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  margin: 0 0 16rem;
}

// Extensions for Structure

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Site Architecture */

%container {
  @include outer-container();
  // Big Screens
  // Tablet
  margin: 0 auto;
}

.full {
  width: 100%;
  min-height: 1px;
  display: block;
  @include clearfix;
}

.wrap {
  @extend %container;
  article > header {
    margin-top: 3em;
  }
}

.section {
  padding: 2rem 0;
}

img {
  -ms-interpolation-mode: bicubic;

  height: auto;
  vertical-align: middle;
  width: 100%;

  @include breakpoint(break-1) {
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }
}

[am-position~="right"] {
  float: right;
  right: 0;
}

[am-position~="left"] {
  float: left;
  left: 0;
}

[am-position~="absolute"] {
  position: absolute;
}

[am-z~="top"] {
  z-index: 100;
}

[am-z~="mid"] {
  z-index: 2;
}

[am-z~="bottom"] {
  z-index: 1;
}

[am-z~="below"] {
  z-index: -1;
}

// positioning

[am-position~="absolute"] {
  position: absolute;
}
[am-position~="left"] {
  left: 0;
}
[am-position~="right"] {
  right: 0;
}
[am-position~="top"] {
  top: 0;
}
[am-position~="bottom"] {
  bottom: 0;
}