[am-Block="hero"] {
  height: calc(100vh - 16rem);
  min-height: 12rem;
  display: block;
  @include clearfix;
  [am-text~="hero"] {
    margin-top: 4rem;
    display: block;
    position: relative;
    @include span-columns(10);
    @include media($break-0) {
      br {
        display: none;
      }
    }
  }
}