header.bg-img {
  vertical-align: middle;
  height: 2rem*14;
  width: 100%;
  // background-attachment: fixed;
  background-position: center 0;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  @include filter(grayscale(80%)); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.1);
          box-shadow: inset 0 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.1);
  @include transition(-webkit-filter .2s $ease-in-out-quad);
  @include transition(opacity .2s $ease-in-out-quad);
  &:hover {
    @include filter(grayscale(0));
    @include transition(-webkit-filter .2s $ease-in-out-quad);
    &:after {
      opacity: 0;
      @include transition(opacity .2s $ease-in-out-quad);
    }
  }
  &:after {
    position: absolute;
    height: 100%;
    width: 100%;
    background: $white;
    opacity: .6;
    @include transition(opacity .2s $ease-in-out-quad);
  }
}