[am-block~="project"] {
  position: relative;
  min-height: min-content;
  padding: 0;
  // the title
  h3 {
    font-weight: normal;
    position: relative;
    cursor: pointer;
    &:hover {
      &:before {
        opacity: 1;
        @include transition(opacity .2s $ease-in-out-quad);
      }
    }
    &:before {
      opacity: 1;
      line-height: 1.2rem;
      margin-bottom: 0;
      height: 1.2rem;
      padding: .2rem .4rem;
      padding-bottom: 0;
      display: block;
      font-family: unquote(map-get($headingtype, font-family));
      font-style: normal;
      font-weight: map-get($headingtype, regular);
      text-align: center;
      @include fontsize(theta, all);
      @include border-top-radius($base-border-radius);
      @include border-bottom-radius($base-border-radius);
      //
      content: 'Expand';
      position: absolute;
      color: $purple;
      border: 1px solid $purple;
      left: -6rem;
      top: 1.6rem;
      @include transition(opacity .2s $ease-in-out-quad);
      cursor: pointer;
    }
  }
  h3.active {
    h3::before {
      opacity: 1;
    }
  }
  h3.active + .hidden-info {
    display: block;
    opacity: 1;
    @include transition(translateY .3s $ease-in-out-quad);
    @include transition(opacity .4s $ease-in-out-quad);
    @include transition(max-height .2s $ease-in-out-quad);
    max-height: 18rem;
  }
  h3.active ~ h3 {
    @include transition(translateY .3s $ease-in-out-quad);
  }
}

// keep info and toggles hidden

.hidden-info {
  max-height: 0px;
  opacity: 0;
  @include transition(opacity .4s $ease-in-out-quad);
  @include transition(max-height .2s $ease-in-out-quad);
  margin: 0;
  padding-top: 0;
}