[am-block~="work"] {
  [am-neat~="table"] {
    @include span-columns(12 of 12);
    @include row(table);
  }
  .work-grid {
    position: relative;
    background: #D9EDF3;
    // @include transition(all .2s $base-transition-timing);
    height: 50vh;
    min-height: 16rem;
    border: 2px solid black;
    // &:nth-child(1) {
    //   @include span-columns(7);
    //   @include pad(0);
    // }
    // &:nth-child(2) {
    //   @include span-columns(5);
    //   @include omega();
    // }
    // &:nth-child(3) {
    //   @include span-columns(5);
    //   @include pad(0);
    // }
    // &:nth-child(4) {
    //   @include span-columns(7);
    //   @include omega();
    // }
    // &:nth-child(5) {
    //   @include span-columns(12);
    //   @include pad(0);
    // }
    // &:nth-child(6) {
    //   @include span-columns(5);
    //   @include pad(0);
    // }
    // &:nth-child(7) {
    //   @include span-columns(7);
    //   @include omega();
    // }
    // &:nth-child(8) {
    //   @include span-columns(7);
    //   @include pad(0);
    // }
    // &:nth-child(9) {
    //   @include span-columns(5);
    //   @include omega();
    // }
    // Small
    @include media($break-0) {
      margin-bottom: 0;
      width: 100% !important;
      float: none !important;
      display: block !important;
      height: 6rem !important;
    }
    // // Medium
    // @include media($break-2) {
    //   height: 25vw;
    // }
    // // Default
    // @include media($break-2) {
    //   height: calc(680px/3);
    // }
  }
  .work-grid > a {
    -webkit-align-items:flex-end;
    padding: 2rem !important;
    div[am-text="typeset"] {
      align-self: flex-end;
    }
    hr {
      background: $black;
      background-size: 100%;
      margin-top: 0;
      margin-bottom: 0;
    }
    [am-text~="info"], [am-text~="mono"], h1, p{
      color: $black;
    }
  }
  p {
    @include fontsize(theta, all);
  }
}