[am-block~="work"] {
  [am-block~="work-grid"] {
    position: relative;
    background: #D9EDF3;
    // @include transition(all .2s $base-transition-timing);
    min-height: 20rem;
    @include omega();
    margin-bottom: 20px;
    @include transition(transform .2s $ease-in-out-quad);
    // @include transition(box-shadow .2s $ease-in-out-quad);

    &:nth-child(1) {
      @include span-columns(7);
    }
    &:nth-child(2) {
      @include span-columns(5);
      @include omega();
    }
    &:nth-child(3) {
      @include span-columns(5);
    }
    &:nth-child(4) {
      @include span-columns(7);
      @include omega();
    }
    &:nth-child(5) {
      @include span-columns(12 of 12);
      @include omega();
      @include transition(margin .1s $ease-in-out-quad);
    }
    &:nth-child(6) {
      @include span-columns(5);
    }
    &:nth-child(7) {
      @include span-columns(7);
      @include omega();
    }
    &:nth-child(8) {
      @include span-columns(7);
    }
    &:nth-child(9) {
      @include span-columns(5);
      @include omega();
    }
    &:nth-child(10) {
      @include span-columns(12 of 12);
      @include omega();
      @include transition(margin .1s $ease-in-out-quad);
    }
    // Small
    @include media($break-0) {
      margin-bottom: 0;
      width: 100% !important;
      float: none !important;
      display: block !important;
      height: 6rem !important;
    }
  }
  [am-block="work-grid"] > a {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2rem;
    .typeset {
      left: 2rem;
      bottom: 2rem;
    }
    hr {
      background: $black;
      background-size: 100%;
      margin-top: .5rem;
      margin-bottom: .25rem;
    }
    [am-text~="info"], [am-text~="mono"], h1, p{
      color: $black;
    }
  }
  p {
    @include fontsize(zeta, all);
    margin-bottom: 0;
  }
}