[am-block~="work"] {
  [am-block~="work-grid"] {
    position: relative;
    background: #D9EDF3;
    // @include transition(all .2s $base-transition-timing);
    min-height: 20rem;
    @include omega();
    margin-bottom: 20px;
    @include transition(transform .2s $ease-in-out-quad);
    // @include transition(box-shadow .2s $ease-in-out-quad);

    &:hover {
      @include transform-origin(top);

      @include transition(transform .1s $ease-in-out-quad);
      // @include transition(box-shadow .2s $ease-in-out-quad);
      -moz-box-shadow:    0px 1px 3px 0px rgba(0,0,0,0.10);
      box-shadow:         0px 1px 3px 0px rgba(0,0,0,0.10);
    }
    &:nth-child(1) {
      @include span-columns(7);
      &:hover {
        @include transform(translate(-10px, -10px));
      }
    }
    &:nth-child(2) {
      @include span-columns(5);
      @include omega();
      &:hover {
        @include transform(translate(10px, -10px));
      }
    }
    &:nth-child(3) {
      @include span-columns(5);
      &:hover {
        @include transform(translate(-10px, -10px));
      }
    }
    &:nth-child(4) {
      @include span-columns(7);
      @include omega();
      &:hover {
        @include transform(translate(10px, -10px));
      }
    }
    &:nth-child(5) {
      @include span-columns(12 of 12);
      @include omega();
      @include transition(margin .1s $ease-in-out-quad);
      &:hover {
        margin-top: 10px;
        margin-bottom: 30px;
        @include transform(translate(0, 0));
        @include transition(margin .1s $ease-in-out-quad);
      }
    }
    &:nth-child(6) {
      @include span-columns(5);
      &:hover {
        @include transform(translate(-10px, -10px));
      }
    }
    &:nth-child(7) {
      @include span-columns(7);
      @include omega();
      &:hover {
        @include transform(translate(10px, -10px));
      }
    }
    &:nth-child(8) {
      @include span-columns(7);
      &:hover {
        @include transform(translate(-10px, -10px));
      }
    }
    &:nth-child(9) {
      @include span-columns(5);
      @include omega();
      &:hover {
        @include transform(translate(10px, -10px));
      }
    }
    &:nth-child(10) {
      @include span-columns(12 of 12);
      @include omega();
      @include transition(margin .1s $ease-in-out-quad);
      &:hover {
        margin-top: 10px;
        margin-bottom: 30px;
        @include transform(translate(0, 0));
        @include transition(margin .1s $ease-in-out-quad);
      }
    }
    // Small
    @include media($break-0) {
      margin-bottom: 0;
      width: 100% !important;
      float: none !important;
      display: block !important;
      height: 6rem !important;
    }
  }
  [am-block="work-grid"] > a {
    padding: 2rem;
    div[am-text="typeset"] {
    }
    hr {
      background: $black;
      background-size: 100%;
      margin-top: .5rem;
      margin-bottom: .25rem;
    }
    [am-text~="info"], [am-text~="mono"], h1, p{
      color: $black;
    }
  }
  p {
    @include fontsize(zeta, all);
    margin-bottom: 0;
  }
}