<html lang="en">
  {% include _head.html %}
  <body class="post site">
    {% include _navigation_main.html %}
    <section id="baseline">
      <div class="section typeset">
        <div class="column column--main column--right">
          <hr style="background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%, {{ page.accent-color }} 50%)">
          <h1 style="color:{{ page.accent-color }}">{{ page.title }}</h1>
          {{ content }}
      </div>
    </section>

    {% include _footer.html %}

    <script>
    var navigation = responsiveNav(".main-nav");

    // Grid toggle
    function changeClass() {
      if ( document.getElementById("baseline").className.match(/(?:^|\s)show-grid(?!\S)/) ) {
        document.getElementById("baseline").className = document.getElementById("baseline").className.replace( /(?:^|\s)show-grid(?!\S)/g , '' )
      } else { document.getElementById("baseline").className += " show-grid"; }
    }
    document.getElementById("gridtoggle").addEventListener( 'click' , changeClass );
    </script>
  </body>
</html>