<html lang="en">
  {% include _head.html %}
  <body class="home site">
    {% include _navigation_main.html %}
    <section id="baseline">
      <div class="section typeset">
        <div class="column column--main column--right">
          <hr am-divider="6" style="background:{{ post.title-color }}">
          <h1 style="color:{{ post.title-color }}">{{ page.title }}</h1>
          {{ content }}
      </div>
    </section>

    {% include _footer.html %}

    <script>
    var navigation = responsiveNav(".main-nav");

    // Grid toggle
    function changeClass() {
      if ( document.getElementById("baseline").className.match(/(?:^|\s)show-grid(?!\S)/) ) {
        document.getElementById("baseline").className = document.getElementById("baseline").className.replace( /(?:^|\s)show-grid(?!\S)/g , '' )
      } else { document.getElementById("baseline").className += " show-grid"; }
    }
    document.getElementById("gridtoggle").addEventListener( 'click' , changeClass );
    </script>
  </body>
</html>