<html lang="en">
  {% include _head.html %}
  <body class="home site">
    {% include _navigation_main.html %}
    <section class="typeset">
      <article am-block="1">
        <h2 am-Text="hero">
          Cole Townsend is a designer who wants to work with you.
          <br>
          He has a passion for clean and intuitive solutions.
          <br>
          {% if site.data.work_status contains 'unavailable' %}
          He is unavailable, but please take a look anyway.</a>
          {% elsif site.data.work_status contains 'kinda' %}
          He is available for small projects. See his work below.
          {% else %}
          Want to work with him? Select pieces below.
          {% endif %}
        </h2>
      </article>
    </section>
    <!-- Portfolio section, sprinkled with blog posts -->
    {% include _work-loop.html %}
    {% include _project-loop.html %}
    {% include _footer.html %}
    <code>
      clicking on ".fillerati" removes class ".whiten" on "#projects"
      clicking on ".fillerati" removes class "active" on "h3.active"
      clicking on ".toggle-expand" removes class "active" on "h3.active"
      clicking on ".toggle-expand" adds class "active" on "itself"
      {% for project in site.data.projects %}
      clicking on ".{{ project.class }}" adds class "{{ project.class }}-color" on ".colorways"
      clicking on ".{{ project.class }}" adds class ".elevated" on ".fillerati"
      clicking on ".{{ project.class }}" adds class ".whiten" on "#projects"
      clicking on ".fillerati" removes class "{{ project.class }}-color" on ".colorways"
      {% endfor %}
      clicking on ".fillerati" removes class ".elevated" on "itself"
    </code>
  </body>
</html>

