<html lang="en">
  {% include _head.html %}
  <body class="home">
    {% include _navigation_main.html %}
    <section am-Block="1 full">
      <article am-Grid-Row>
        <h3 am-Grid-Col="full" am-Text="hero">
          Cole Townsend is a designer that wants to work with you. He has a passion for clean and intuitive solutions.
          {% if site.data.work_status contains 'unavailable' %}
          He is currently unavailable for work, but encourages you to contact him. <a href="#work">&#8620;</a>
          {% elsif site.data.work_status contains 'kinda available' %}
          He is currently available for small projects. <a href="{{site.url}}/about">&#8620;</a>
          {% else %}
          He is currently available for work.<a href="{{site.url}}/about">&#8620;</a>
          {% endif %}
        </h3>
      </article>
    </section>
    <!-- Portfolio section, sprinkled with blog posts -->
    <section id="work" am-Block="2">
      <article am-Grid-Row>
        <ul>
        {% for post in site.posts limit: 9 %}
          {% if post.categories contains 'work' or post.categories contains 'journal' %}
            <!-- featured image, generally work -->
            {% if post.image.feature %}
              <li class="work-grid">
                <span class="colorize" style="background:{% if post.accent_color %}{{ post.accent_color}}{% else %}#EFEFEF{% endif %};"></span>
                <span class="project" style="background-image: url({{ site.url }}/images/posts/{{ post.image.feature }});"></span>
                <a href="{{ site.url }}{{ post.url }}">
                  <span am-Text="info mono">{{ page.tags | array_to_sentence_string | strip_html }}</span>
                  <hr am-Divider="4">
                  <h1 {% if post.title-color %} style="color: {{ post.title-color }};"{% endif %}>{{ post.title }}</h1>
                </a>
            </li>
            <!-- no feature, almost always blog posts -->
            {% else %}
              <li class="work-grid" style="background:{% if post.accent_color %}{{ post.accent_color}}{% else %}#ffffff{% endif %};">
                <a am-Link="blank" href="{{ site.url }}{{ post.url }}">
                  <hr am-Divider="4">
                  <h1 {% if post.title-color %} style="color: {{ post.title-color }};"{% endif %}>{{ post.title }}</h1>
                </a>
                <span am-Text="info mono">{{ post.category }} &#8212; {{ post.date | date: "%m %d %y" }}</span>
                <a am-link="target" href="{{ site.url }}{{ post.url }}"></a>
              </li>
            {% endif %}
          {% endif %} <!-- end if work loop -->
        {% endfor %} <!-- end for post loop -->
        </ul>
      </article>
    </section>
    <!-- Side projects -->
    <section id="projects" am-Block="3">
      <article am-Grid-Row>
        <h2>Currently Working On&#58;</h2>
        {% for posts in site.post %}
          {% if post.categories contains 'project' %}
            <div am-Grid-Col="11 offset:1">
              <a href="#" class="toggle-expand" am-Button="info small">Expand</a>
              <a href="{{ site.url }}{{ post.url }}"><h3>{{ post.title }}</h3></a>
              <p am-text="excerpt" class="hidden-info">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
            </div>
          {% endfor %} <!-- end if project loop -->
        {% endfor %} <!-- end post loop -->
      </article>
    </section>
    {% include _footer.html %}
  </body>
</html>

