<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
  <body class="post">
    {% include _navigation_main.html %}
    {% if page.image.feature %}
    <header class="full bg-img" style="background-image: url({{ site.url }}/images/posts/{{ page.image.feature }})">
    </header>
    <div data-no-instant id="baseline">
      <div class="section typeset">
        <div class="column column--main column--right">
          <hr style="background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%, {{ page.accent-color }} 50%)">
          <h1 style="color:{{ page.accent-color }}">{{ page.title }}</h1>
          <br>
          <p am-text="mono info" class="caption sidenote">{{ page.tags | array_to_sentence_string }}</p>
          {{ content }}
      </div>
    </div>

    {% else %}
    <section data-no-instant id="baseline">
      <div class="section typeset">
        <div class="column column--main column--right">
          <hr style="background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%, {{ page.accent-color }} 50%)">
          <h1 style="color:{{ page.accent-color }}">{{ page.title }}</h1>
          <p am-text="mono info" class="caption sidenote">{{ page.tags | array_to_sentence_string }}</p>
          {{ content }}
      </div>
    </section>
    {% endif %}
    {% include _footer.html %}
  </body>
</html>
