// grid fix
[am-Grid-Row] {
  max-width: 960px;
  margin: 0 auto;
}

// blocks
[am-Block] {
  min-height: 16rem;
  padding: 4rem 0;
  position: relative;
  [am-Grid-Row] {
    min-height: 400px;
  }
}

[am-Block="1"] {
  height: calc(100vh - 8rem);
  min-height: 16rem;
  display: block;
  @include clearfix;
  [am-text~="hero"] {
    margin-top: -4rem;
    @include media($small) {
      br {
        display: none;
      }
    }
  }
}

[am-Block="2"] {
  background:red;
  padding: 2rem 0;
}